Inda_STM32/Debug/
Inda_STM32/Release/
Inda_STM32/.settings/
Inda_STM32/*.launch
Inda_STM32/*.o
Inda_STM32/*.elf
Inda_STM32/*.bin
Inda_STM32/*.map
*.o
*.su
*.elf



Inda_Kidcad/*.bak
Inda_Kidcad/*.kicad_pcb-bak
Inda_Kidcad/*.sch-bak
Inda_Kidcad/*-save.kicad_pcb
Inda_Kidcad/_autosave-*
Inda_Kidcad/fp-info-cache
Inda_Kidcad/*.kicad_prl
Inda_Kidcad/*.kicad_pcb-bin
Inda_Kidcad/Inda_Kicad-backups/
Inda_Kidcad/.history/


.DS_Store
Thumbs.db


.metadata/
RemoteSystemsTempFiles/